.page-node.node-type-streaming{
  .nelads-micrositio-block{
    margin: 44px auto;
    .adslot_micrositio{
      width: 728px;
      height: 90px;
    }
  }
}

@media only screen and (max-width: $tablet_width) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 728px;
      height: 90px;
    }
  }
}

@media only screen and (max-width: 746px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 468px;
      height: 60px;
    }
  }
}

@media only screen and (max-width: 486px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 336px;
      height: 280px;
    }
  }
}

@media only screen and (max-width: 354px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 300px;
      height: 250px;
    }
  }
}

@media only screen and (max-width: 318px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 250px;
      height: 250px;
    }
  }
}

@media only screen and (max-width: 268px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 200px;
      height: 200px;
    }
  }
}

@media only screen and (max-width: 218px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 180px;
      height: 150px;
    }
  }
}

@media only screen and (max-width: 198px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      width: 125px;
      height: 125px;
    }
  }
}

@media only screen and (max-width: 143px) {
  .page-node.node-type-streaming{
    .nelads-micrositio-block, 
    .adslot_micrositio{
      display: none;
    }
  }
}