.adslot_2, 
.adslot_5{
  width: 468px;
  height: 60px;
}
#block-nelads-nelads-global-header, 
#block-nelads-nelads-article-header{
  padding-top: 5px;
  display: inline-block;
}

@media only screen and (min-width: $desktop_wide_ads_max) {
  .adslot_2, 
  .adslot_5{
    width: 728px;
    height: 90px;
  }
  #block-nelads-nelads-global-header, 
  #block-nelads-nelads-article-header{
    padding-top: 0;
  }
}

@media only screen and (min-width: $desktop_wide_ads_maxx) {
  .adslot_2, 
  .adslot_5{
    width: 900px;
    height: 90px;
  }
  #block-nelads-nelads-global-header, 
  #block-nelads-nelads-article-header{
    padding-top: 0;
  }
}

@media only screen and (max-width: $desktop_width) {
  #block-nelads-nelads-global-header, 
  #block-nelads-nelads-article-header{
    padding-top: 0;
  }
}

@media only screen and (max-width: $tablet_width) {
  .adslot_2, 
  .adslot_5{
    width: 468px;
    height: 60px;
  }
}

@media only screen and (max-width: 485px) {
  .adslot_2, 
  .adslot_5{
    width: 320px;
    height: 100px;
  }
}


@media only screen and (max-width: 337px) {
  .adslot_2, 
  .adslot_5{
    width: 234px;
    height: 60px;
  }
}

@media only screen and (max-width: 251px) {
  .adslot_2, 
  .adslot_5{
    display: none !important;
  }
  .l-region--header{
    display: none;
  }
  .l-main{
    padding-top: 9px;
  }
}
























