#block-nelads-dc-sidebar-20, 
#block-nelads-dc-sidebar-19, 
#block-nelads-dc-sidebar-18{
  margin-bottom: 30px;
}
#div-gpt-ad-1450248044192-0, 
#div-gpt-ad-1450252638117-0, 
#div-gpt-ad-1450252783279-0{
  text-align: center;
  > div{
    display: inline-block;
  }
}