.l-region--sidebar-second{
  
  h2{  
    background: #122d3f;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 0px;
    padding: 3px 10px 3px 10px;
  }
  
  .block__content{
	  border-top: solid #122d3f 2px;  
  }
  
  .block--views-latest-news-block .views-row{
    .image{
    float: left;
    width: 100px;
    }
    
    .info{
	  margin-left: 115px;
    }
    
    .info >h4{
	  margin-bottom: 5px;
    }
    
    .info >h4 a{
		font-size: 15px;
    }
    
  }
}