.block--views{
  h2.block__title{
    border-bottom: solid #122d3f 2px;
  }
  h2 a{
    color: #fff;
    display: block;
  }
}

.main-article{
  float: left;
  width: 301px;
  h3{
  	font-family: Fjalla One;
  	margin-bottom: 0px;
  	margin-top:7px;
  	a{
  	  font-size: 21px;
  	}
  }
  .date span{
    margin: 2px 0px 6px 0px;	
  }

  .body{
    color: #4b4b4b;
    font-family: Domine;
    font-size: $font_size;
    margin-top: 5px;
  }
}

.other-article{
  margin-left: 341px;

  .clearfix:after{
    clear: right;
  }
  .view-taxonomy-articles .views-row{
    margin-bottom: 15px;
    min-height: 76px;
  }
  .image{
    float: left;
    width: 100px;
  }

  .info{
  	font-size: 15px;
  	margin-left: 115px;
  	width: 177px;
  }
  
  h4{
    margin-top: 0;
    margin-bottom: 3px;
  }
}