# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
htpasswd

# Ignore paths that contain user-generated content.
.DS_Store
cache
sites/*/files
sites/*/private
sites/*/pvt
sites/*/tmp
