@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-escribenos\.scss}line{font-family:\000032}}
#block-block-5 .block__content {
  border: none;
  padding: 0;
  font-family: Domine;
  font-size: 0.9em;
  line-height: 150%;
  text-align: center;
  color: #4b4b4b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-escribenos\.scss}line{font-family:\0000310}}
  #block-block-5 .block__content * {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-escribenos\.scss}line{font-family:\0000313}}
  #block-block-5 .block__content * + * {
    margin-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-escribenos\.scss}line{font-family:\0000316}}
  #block-block-5 .block__content a {
    color: #4b4b4b;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-escribenos\.scss}line{font-family:\0000320}}
  #block-block-5 .block__content a:hover {
    text-decoration: underline; }
