@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-facebook-feed\.scss}line{font-family:\000032}}
#block-block-3 .block__content {
  padding-top: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-facebook-feed\.scss}line{font-family:\000035}}
#block-block-3 .block__content:before {
  border-top: 1px solid #315c99;
  display: block;
  content: ""; }
