@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-logo-footer\.scss}line{font-family:\000031}}
#block-block-2 {
  margin-bottom: 21px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-logo-footer\.scss}line{font-family:\000034}}
  #block-block-2 .block__content {
    padding: 102px 0 0;
    border: none;
    text-align: center;
    font-family: Domine;
    font-size: 0.9em;
    line-height: 150%;
    color: #4b4b4b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-logo-footer\.scss}line{font-family:\0000313}}
    #block-block-2 .block__content * {
      margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/04-footer-content\/04-logo-footer\.scss}line{font-family:\0000316}}
    #block-block-2 .block__content * + * {
      margin-top: 10px; }
