.articles-wide-sidebar{
  .views-row{
    margin: 30px 0;
  }
  .views-row.views-row-first{
    margin-top: 0;
  }
  .views-row.views-row-last{
    margin-bottom: 0;
  }
}
.node--article--taxonomy-sidebar-wide{
  img{
    display: block;
  }
  .image{
    margin-bottom: 11px;
  }
  h4{
    margin: 0;
  }
  .date{
    height: 21px;
    margin: 2px 0px 0 0px;
  }
}
@media only screen and (max-width: $tablet_width) {
  .node--article--taxonomy-sidebar-wide{
    .image{
      width: 100%;
      text-align: center;
      background: #f2f2f2;
      height: 159px;
      overflow: hidden;
    }
    img{
      width: 100%;
      height: auto;
    }
  }
}