#block-views-99f4c69eeefb944bec8b07a66163a134,
#block-views-f5093fd439e56e3a5a58302b793fe366,
#block-views-cc14d6ab122611f4643779de134c3419,
#block-views-2bfcb6a1f0526d490ed073e9e3f83a08{
  margin-bottom: 60px;
  .block__content{
    border-top: none;
    .view-content h2.block__title{
      margin-top: 0;
    }
    .view-content .article-content .view-taxonomy-articles-sidebar{
      border: solid 1px #8EC1DA;
      border-radius: 5px 5px 5px 5px;
      overflow: hidden;
    }
    .views-slideshow-cycle-main-frame{
      width: 298px !important;
      height: 298px !important;
    }
  }
}
#block-views-cc14d6ab122611f4643779de134c3419{
  h2.block__title{
    background-color: #8224e3;
  }
  .article-content{
    border-top-color: #8224e3;
  }
  .block__content .view-content .article-content .view-taxonomy-articles-sidebar{
    border: none;
    border-radius: 0 0 0 0;
    overflow: visible;
  }
}
.node--article--taxonomy-sidebar-section{
  width: 298px;
  height: 298px;
  position: relative;
  .info{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 4px;
    background: rgba(0, 0, 0, 0.5);
    h4{
      margin: 0;
      padding: 0;
    }
    h4 a{
      text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
      color: white;
    }
  }
}