$desktop_wide_ads_maxx: 2250px;
$desktop_wide_ads_max2: 2094px;
$desktop_wide_ads_max: 1078px;
$desktop_wide_width: 1200px;
$desktop_width: 1002px;
$two_columns_one_block_width: $desktop_wide_ads_max - 366px;
$one_column_two_blocks_width: ($two_columns_one_block_width - 36px) / 2;

$tablet_width: 748px;
$tablet_width_1_5: 725px;
$tablet_width_2: 700px;
$tablet_width_2_5: 675px;
$tablet_width_3: 650px;
$tablet_width_3_5: 625px;
$tablet_width_4: 600px;
$tablet_width_4_5: 575px;
$tablet_width_5: 550px;
$tablet_width_5_5: 525px;
$tablet_width_6: 500px;
$tablet_width_6_5: 475px;
$tablet_width_7: 450px;
$tablet_width_7_5: 425px;
$tablet_width_8: 400px;
$tablet_width_8_5: 375px;
$mobile_padding: 16px;