body{
  background: #4c4c4c;
}
body.cke_editable.cke_editable_themed,
body.cke_ltr{
  background: white;
}
.l-page{
  background: white;
}
.l-main,
.l-branding,
.l-region--top-navigation, 
.l-region--navigation,
.l-footer-main-inner, 
.l-region--footer{
  width: $desktop_width;
  margin: 0 auto;
  padding: 0 15px;
}
.l-main{
  padding-top: 36px;
}

/** 2 Columns Fluid Layout **/
.colmask.right-menu{
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}
.right-menu .colleft{
  float: left;
  width: 200%;
  margin-left: -336px;
  position: relative;
  right: 100%;
}
.right-menu .col1wrap{
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
}
.right-menu .l-content,
.right-menu .l-footer-content{
  margin: 0 0 0 336px;
  overflow: hidden;
}
.right-menu .l-content{
  padding-bottom: 79px;
}
.right-menu .l-region--sidebar-second,
.right-menu .l-region--footer-sidebar{
  float: right;
  width: 293px;
  position: relative;
  left: 336px;
}