body{
  background: #4c4c4c;
}
body.cke_editable.cke_editable_themed,
body.cke_ltr{
  background: white;
}
.l-page{
  background: white;
}
.l-main,
.l-branding,
.l-region--top-navigation, 
.l-region--navigation,
.l-footer-main-inner, 
.l-region--footer{
  width: $desktop_width;
  margin: 0 auto;
  padding: 0 15px;
}
.l-main{
  padding-top: 36px;
}

/** 2 Columns Fluid Layout **/
.colmask.right-menu{
  position: relative;
  clear: both;
  float: left;
  width: 100%;
  overflow: hidden;
}
.l-main{
  padding-bottom: 36px;
}
.l-main:after{
  clear: both;
  content: " ";
  display: table;
  height: 0;
}
.right-menu .colleft{
  float: left;
  width: 200%;
  margin-left: -336px;
  position: relative;
  right: 100%;
}
.right-menu .col1wrap{
  float: left;
  width: 50%;
  position: relative;
  left: 50%;
}
.right-menu .l-content,
.right-menu .l-footer-content{
  margin: 0 0 0 336px;
  overflow: hidden;
}
.right-menu .l-content{
  padding-bottom: 79px;
}
.right-menu .l-region--sidebar-second,
.right-menu .l-region--footer-sidebar{
  float: right;
  width: 293px;
  position: relative;
  left: 336px;
}

@media only screen and (max-width: $desktop_width) {
  .l-main,
  .l-branding,
  .l-region--top-navigation, 
  .l-region--navigation,
  .l-footer-main-inner, 
  .l-region--footer{
    width: $tablet_width;
    padding-left: 11px;
    padding-right: 11px;
  }
  .right-menu .colleft{
    margin-left: -253px;
  }
  .right-menu .l-content,
  .right-menu .l-footer-content{
    margin: 0 0 0 253px;
  }
  .right-menu .l-region--sidebar-second,
  .right-menu .l-region--footer-sidebar{
    width: 220px;
    left: 253px;
  }
  .right-menu .l-content{
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: $tablet_width) {
  .l-main,
  .l-branding,
  .l-region--top-navigation, 
  .l-region--navigation,
  .l-footer-main-inner, 
  .l-region--footer{
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
  .right-menu .colleft{
    float: none;
    width: 100%;
    margin-left: 0;
    right: auto;
  }
  .right-menu .col1wrap{
    float: none;
    width: 100%;
    left: auto;
  }
  .right-menu .l-content,
  .right-menu .l-footer-content{
    margin: 0;
    overflow: visible;
  }
  .right-menu .l-region--sidebar-second,
  .right-menu .l-region--footer-sidebar{
    float: none;
    width: 100%;
    left: auto;
  }
  .right-menu .l-content{
    padding-bottom: 0;
  }
  .l-main{
    background: url(../images/little-bg.png) repeat-x;
  }
  .l-main:after{
    clear: both;
  }
}