.l-branding-wrapper{
  background: #122d3f;
  .l-branding{
    height: 120px;
    padding-top: 10px;
  }
}
a.site-logo{
  display: block;
  width: 300px;
  height: 100px;
  background: url(../logo.png) no-repeat;
  text-indent: -9999px;
  float: left;
}
.navigation-wrapper.stuck{
	position:fixed;
	top:0;
	width: 100%;
	z-index: 30;
	.l-region--navigation{
  	background-color: rgba(254, 254, 253, 0.95);
	}
}
body.toolbar .navigation-wrapper.stuck{
  margin-top: 30px;
}
body.toolbar-drawer .navigation-wrapper.stuck{
  margin-top: 64px;
}

.header-white{
  .l-branding-wrapper{
    background: white;
  }
}
.l-region--header{
  width: 646px;
  padding-top: 5px;
  text-align: left;
  float: right;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  a.site-logo{
    background-image: url(../logo_retina.png);
    background-size: 300px 100px;
  }
}

@media only screen and (min-width: $desktop_wide_ads_max) {
  .l-region--header{
    width: 728px;
  }
}

@media only screen and (min-width: $desktop_wide_ads_maxx) {
  .l-region--header{
    width: 900px;
  }
}

@media only screen and (max-width: $desktop_width) {
  body.toolbar-drawer .navigation-wrapper.stuck,
  body.toolbar .navigation-wrapper.stuck{
    margin-top: 0;
  }
  .l-branding-wrapper .l-branding{
    height: 99px;
  }
  a.site-logo{
    height: 76px;
    width: 248px;
    background-size: contain;
  }
  .l-region--header{
    text-align: right;
    padding-top: 9px;
    width: 478px;
  }
}
@media only screen and (max-width: $tablet_width) {
  .l-branding-wrapper .l-branding{
    height: 57px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .l-region--header{
    width: 100%;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 9px;
    text-align: center;
  }
  a.site-logo{
    background-size: contain;
    height: 57px;
  }
}