.site-blue{
  .group-by .category ul li a,
  h2.block__title{
    background: $blue_bg_color;
  }
  .article-content,
  .article-block,
  .l-footer-main .block .block__content,
  #block-block-7 .block__content,
  #block-views-related-articles-block .block__content, 
  #popular-content .block__content,
  #block-views-most-popular-content-block-2 .block__content{
    border-top-color: $blue_bg_color;
  }
  #block-system-main-menu > ul.menu > li > a.active, 
  #block-system-main-menu > ul.menu > li > a:hover, 
  .menu-block-1 > ul.menu > li > a.active, 
  .menu-block-1 > ul.menu > li > a:hover, 
  .menu-block-2 > ul.menu > li > a.active, 
  .menu-block-2 > ul.menu > li > a:hover{
    border-bottom-color: $blue_bg_color;
  }
}
.site-red{
  .group-by .category ul li a, 
  h2.block__title{
    background: $red_bg_color;
  }
  .article-content,
  .article-block,
  .l-footer-main .block .block__content,
  #block-block-7 .block__content,
  #block-views-related-articles-block .block__content, 
  #popular-content .block__content,
  #block-views-most-popular-content-block-2 .block__content{
    border-top-color: $red_bg_color;
  }
  #block-system-main-menu > ul.menu > li > a.active, 
  #block-system-main-menu > ul.menu > li > a:hover, 
  .menu-block-1 > ul.menu > li > a.active, 
  .menu-block-1 > ul.menu > li > a:hover, 
  .menu-block-2 > ul.menu > li > a.active, 
  .menu-block-2 > ul.menu > li > a:hover{
    border-bottom-color: $red_bg_color;
  }
}

.site-purple{
  .group-by .category ul li a, 
  h2.block__title{
    background: $purple_bg_color;
  }
  .article-content,
  .article-block,
  .l-footer-main .block .block__content,
  #block-block-7 .block__content,
  #block-views-related-articles-block .block__content, 
  #popular-content .block__content,
  #block-views-most-popular-content-block-2 .block__content{
    border-top-color: $purple_bg_color;
  }
  #block-system-main-menu > ul.menu > li > a.active, 
  #block-system-main-menu > ul.menu > li > a:hover, 
  .menu-block-1 > ul.menu > li > a.active, 
  .menu-block-1 > ul.menu > li > a:hover, 
  .menu-block-2 > ul.menu > li > a.active, 
  .menu-block-2 > ul.menu > li > a:hover{
    border-bottom-color: $purple_bg_color;
  }
}