ul.breadcrumb, 
ul.breadcrumb li{
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.breadcrumb{
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  line-height: 14px;
  display: table;
}
ul.breadcrumb li{
  position: relative;
  display: inline-block;
  margin: 0 8px;
  a{
    color: #3f48cc;
    text-decoration: none;
  }
  a:hover{
    color: #cbcbcb;
    text-decoration: underline;
  }
}
ul.breadcrumb li.first{
  margin-left: 0;
}
ul.breadcrumb li.last{
  margin-right: 0;
}
ul.breadcrumb li.separator{
  width: 4px;
  height: 14px;
  text-indent: -9999px;
  background: url('../images/elements.png') no-repeat -20px -1556px;
  margin: 0;
  padding: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  ul.breadcrumb li.separator{
    background-image: url('../images/elements@2x.png');
    background-size: 91px 1900px;
  }
}