.play-video{
  position: relative;
}
.play-video:after{
  position: absolute;
  content: "";
  display: block;
  background: url(../images/video-large.png) no-repeat;
  width: 40px;
  height: 40px;
  right: 10px;
  bottom: 8px;
}
.play-video.small:after{
  background-image: url(../images/video-small.png);
  width: 20px;
  height: 20px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .play-video:after{
    background-image: url(../images/video-large@2x.png);
    background-size: 40px 40px;
  }
  .play-video.small:after{
    background-image: url(../images/video-small@2x.png);
    background-size: 20px 20px;
  }
}
@media only screen and (max-width: 996px) {
  .play-video.small:after{
    width: 15px;
    height: 15px;
    background-size: 15px 15px;
    right: 0;
    bottom: 4px;
  }
}
@media only screen and (max-width: 996px) and (-webkit-min-device-pixel-ratio: 2) {
  .play-video.small:after{
    background-size: 15px 15px;
  }
}