#block-views-taxonomy-promoted-block-5{
  width: 293px;
  float: right;
  .view-taxonomy-articles{
    .views-row{
      clear: both;
      min-height: 76px;
      margin-bottom: 15px;
    }
    .image{
      width: 100px;
      height: 65px;
      float: right;
    }
    .info{
      margin-right: 117px;
    }
    .info h4{
      margin: 0;
    }
  }
}