.page-taxonomy-term, 
.node--page-generic.node--page-generic--full{
  margin-top: -15px;
  .field-collection-container, 
  .field-collection-view{
    padding: 0;
    margin: 0;
    border-bottom: none;
  }
  .body *{
    margin: 0;
  }
  .body *+*{
    margin-top: 1em;
  }
  .banner-block{
    a{
      display: block;
    }
    img{
      width: 100%;
    }
  }
  .two-block-one-column{
    .field-collection-item-field-block-left-column, 
    .block-banner-left{
      float: left;
    }
    .field-collection-item-field-block-right-column,
    .block-banner-right{
      float: right;
    }
    .field-collection-item-field-block-left-column, 
    .field-collection-item-field-block-right-column, 
    .block-banner-left, 
    .block-banner-right{
      width: 300px;
      display: inline-block;
    }
  }
  .two-block-one-column:after{
    content: " ";
    display: table;
    height: 1px;
    clear: both;
  }
  .top-slider{
    margin-bottom: 0;
  }
  .two-block-one-column, 
  .one-block-two-columns{
    margin: 15px 0;
  }
}
.field-collection-item-field-news .field-collection-item-field-block-2columns{
  .article-content:after{
    display: table;
    clear: both;
    height: 1px;
    content: " ";
  }
  .column-1{
    float: left;
  }
  .column-2{
    float: right;
  }
  .article-content .column{
    width: 300px;
    clear: none;
  }
}
.field-collection-item-field-news .field-collection-item-field-block-2columns.no-title{
  .article-content{
    border-top: none;
    padding-top: 0;
  }
}
.l-region--sidebar-second{
  .field-collection-view, 
  .field-collection-container{
    border-bottom: 0;
    margin: 0;
  }
  .field-collection-view ul.field-collection-view-links{
    margin: 10px 0 0 0;
  }
}

/**
 * Highlighning
 */
.generic-block-wrapper{
  position: relative;
  margin: 15px 0 !important;
  padding: 10px 0 !important;
  border-bottom: none;
  .field-collection-view-links,
  .field-collection-item-field-generic-block, 
  .field-collection-item-field-sidebar-block, 
  .field-collection-item-field-sidebar-block-2{
    position: relative;
    z-index: 2;
  }
  .field-collection-view-links{
    z-index: 4;
  }
}
.generic-block-highlightning{
  position: absolute;
  display: block;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(65, 255, 122, 0.2);
  border-radius: 0 10px 10px 10px;
  border: dashed 2px #279949;
  content: " ";
  clear: both;
  opacity: 0;
  z-index: 0;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}
.l-region--sidebar-second .generic-block-highlightning{
  top: 10px;
}
.generic-block-wrapper.on,
.generic-block-wrapper.red{
  .generic-block-highlightning{
    opacity: 1;
    z-index: 3;
  }
}
.generic-block-wrapper.red .generic-block-highlightning{
  background: rgba(255, 82, 40, 0.2);
  border-color: #FF5334;
}

@media only screen and (min-width: $desktop_wide_ads_max2) {
  .page-taxonomy-term, 
  .node--page-generic.node--page-generic--full{
    .two-block-one-column{
      .field-collection-item-field-block-left-column, 
      .field-collection-item-field-block-right-column, 
      .block-banner-left, 
      .block-banner-right{
        width: $one_column_two_blocks_width;
      }
    }
  }
  
  .field-collection-item-field-news .field-collection-item-field-block-2columns{
    .article-content .column{
      width: $one_column_two_blocks_width;
    }
  }
}

@media only screen and (max-width: $desktop_width) {
  .page-taxonomy-term, 
  .node--page-generic.node--page-generic--full{
    .two-block-one-column{
      .field-collection-item-field-block-left-column, 
      .field-collection-item-field-block-right-column, 
      .block-banner-left, 
      .block-banner-right{
        width: 226px;
      }
    }
  }
}

@media only screen and (max-width: $tablet_width) {
  .page-taxonomy-term .two-block-one-column, 
  .node--page-generic.node--page-generic--full .two-block-one-column{
    .field-collection-item-field-block-left-column, 
    .field-collection-item-field-block-right-column, 
    .block-banner-left, 
    .block-banner-right{
      width: 100%;
      float: none;
      .banner-block{
        display: table;
        margin: 0 auto;
      }
    }
    .block-banner-left+.block-banner-right{
      margin-top: 15px;
    }
  }

  .page-taxonomy-term .one-block-two-columns, 
  .node--page-generic.node--page-generic--full .one-block-two-columns{
    .banner-block{
      img{
        width: 100%;
      }
    }
  }
}