.video.streaming{
  > .inner-wrapper center > div{
    width: 100% !important;
    object{
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@media only screen and (max-width: $tablet_width) {
  .video.streaming{
    > .inner-wrapper center > div{
      height: 270px !important;
    }
  }
}

@media only screen and (max-width: 480px) {
  .video.streaming{
    > .inner-wrapper center > div{
      height: 228px !important;
    }
  }
}
