.two-big-4-small-two-columns{
  .two-main-articles{
    margin-bottom: 20px;
  }
  .view-taxonomy-articles > .view-content:after{
    clear: both;
    display: table;
    content: "";
  }
  .two-main-articles .views-row{
    float: left;
    width: 293px;
    .image{
      width: 293px;
      height: 143px;
      margin-bottom: 11px;
    }
    h3{
      font-family: Fjalla One;
      margin: 0;
      font-size: 1.3em;
    }
    .date{
      margin: 2px 0px 6px 0px;
      min-height: 21px;
    }
    .body{
      font-family: Domine;
      font-size: 0.9em;
      line-height: 150%;
    }
  }
  .two-main-articles .views-row.views-row-last{
    float: right;
  }
  .fourth-after-two-main-articles{
    clear: both;
  }
  .fourth-after-two-main-articles .views-row{
    float: left;
    width: 293px;
    min-height: 76px;
    margin-bottom: 15px;
    clear: left;
    
    .image{
      width: 100px;
      height: 65px;
      float: left;
    }
    .info{
      margin-left: 117px;
    }
    .info h4{
      margin: 0;
    }
  }
  .fourth-after-two-main-articles .views-row.views-row-even{
    float: right;
    clear: right;
  }
}

@media only screen and (max-width: $desktop_width) {
  .two-big-4-small-two-columns{
    .two-main-articles .views-row{
      width: 226px;
      .image{
        width: 226px;
        height: 110px;
      }
    }
    .fourth-after-two-main-articles .views-row{
      width: 226px;
      .image{
        width: 60px;
        height: 39px;
      }
      .info{
        margin-left: 70px;
      }
    }
  }
}

@media only screen and (max-width: $tablet_width) {
  .two-big-4-small-two-columns{
    .two-main-articles .views-row{
      float: none;
      width: 100%;
      margin-bottom: 20px;
      .image{
        background: #f2f2f2;
        width: 100%;
        height: auto;
      }
    }
    .fourth-after-two-main-articles .views-row{
      width: 100%;
      .image{
        width: 100px;
        height: 65px;
      }
      .info{
        margin-left: 117px;
      }
    }
  }
}