.type-row.type-node{
  .node--block{
    .body *{
      margin: 0;
    }
    .body *+*{
      margin-top: 1em;
    }
  }
}

@media only screen and (max-width: $desktop_width) {
  .type-row.type-node{
    .node--block{
      .body iframe{
        width: 473px !important;
      }
    }
  }
}