.nelb-grid{
  .group-row{
    margin: 30px 0;
  }
  .type-row{
    margin: 30px 0;
    clear: both;
  }
  .type-row:after{
    clear: both;
    content: "";
    display: table;
  }
  .type-row .block-item{
    float: left;
    width: 300px;
  }
  .type-row .block-item.even{
    float: right;
  }
  .type-row.count-1 .block-item{
    float: none;
    width: auto;
  }
}

.nelb-grid{
  .group-row.first{
    margin-top: 0;
    .type-row{
      margin-top: 0;
    }
  }
}

@media only screen and (min-width: $desktop_wide_ads_max2) {
  .nelb-grid{
    .type-row .block-item{
      width: $one_column_two_blocks_width;
    }
  }
}

@media only screen and (max-width: $desktop_width) {
  .nelb-grid{
    .type-row .block-item{
      width: 226px;
    }
  }
}

@media only screen and (max-width: $tablet_width) {
  .nelb-grid{
    .type-row .block-item,
    .type-row .block-item.even{
      width: 100%;
      float: none;
      margin: 30px 0;
      .image{
        text-align: center;
      }
    }
    .type-row .block-item.first, 
    .type-row .block-item.first.even{
      margin-top: 0;
    }
    .type-row .block-item.last, 
    .type-row .block-item.last.even{
      margin-bottom: 0;
    }
  }
}