.block--views{
  h2 a{
    text-transform: uppercase;
    color: #fff;
    display: block;
  }
}

.main-article{
  float: left;
  width: 293px;
  .image{
    width: 293px;
    height: 211px;
    margin-bottom: 11px;
  }
  h3{
  	font-family: Fjalla One;
  	margin-bottom: 0px;
  	margin-top: 0;
  	a{
  	  font-size: 21px;
  	}
  }
  .date{
    margin: 2px 0px 6px 0px;	
    min-height: 21px;
  }

  .body{
    color: #4b4b4b;
    font-family: Domine;
    font-size: 0.9em;
    line-height: 150%;
    margin-top: 0;
  }
}

.other-article{
  float: right;
  width: 293px;

  .clearfix:after{
    clear: right;
  }
  .view-taxonomy-articles .views-row{
    margin-bottom: 15px;
    min-height: 76px;
  }
  .image{
    float: left;
    width: 100px;
  }

  .info{
  	font-size: 15px;
  	margin-left: 115px;
  	width: 177px;
  }
  
  h4{
    margin-top: 0;
    margin-bottom: 3px;
  }
}