.views_slideshow_controls_text_pause{
  display: none;
}
.views_slideshow_controls_text_previous,
.views_slideshow_controls_text_next{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  width: 28px;
  height: 28px;
  a{
    background-image: url('../images/elements.png');
    background-repeat: no-repeat;
    display: block;
    opacity: 0;
    width: 28px;
    height: 28px;
    background-position: -20px -1068px;
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
    text-indent: -9999px;
  }
  a:hover{
    opacity: 1;
  }
}
.views_slideshow_controls_text_next{
  left: auto;
  right: 0;
  a{
    background-position: -20px -1136px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .views_slideshow_controls_text_previous,
  .views_slideshow_controls_text_next{
    a{
      background-image: url('../images/elements@2x.png');
      background-size: 91px 1900px;
    }
  }
}
#block-views-slider-block{
  .skin-default{
    position: relative;
  }
  .views-slideshow-controls-bottom{
    position: absolute;
    bottom: 176px;
    left: 0;
    right: 0;
  }
  article{
    width: 630px;
    height: 321px;
    position: relative;
    
    .image{
      width: 630px;
      height: 321px;
    }
    
    .info{
      position: absolute;
      left: 0;
      top: 12px;
      bottom: 12px;
    }
    .info .tagdate{
      display: table;
    }
    .info .category,
    .info .date{
      display: inline-block;
    }
    .info .category a{
      color: #fff;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 12px;
      padding: 0 10px 0 10px;
      height: 29px;
      display: block;
      line-height: 28px;
      background: #122d3f;
    }
    .info .date{
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0 10px 0 10px;
      line-height: 28px;
      height: 29px;
    }
    .info .date span{
      font-style: normal;
      color: #fff;
    }
    .info h3{
      font-family: 'Oswald', sans-serif;
      position: absolute;
      bottom: 0;
      margin: 0;
      line-height: 15px;
      font-size: 20px;
    }
    .info h3 a{
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;
    }
    .info h3 a .td-sbig-title{
      display: inline-block;
      white-space: nowrap;
      background-color: rgba(18, 45, 63, 0.7);
      padding: 9px 9px;
    }.info h3 a:hover .td-sbig-title{
      text-decoration: underline;
    }
    .info h3 a .td-sbig-sep{
      display: block;
      height: 0px;
    }
  }
  .views-slideshow-cycle-main-frame{
    position: relative;
    width: 630px;
    height: 321px;
    overflow: hidden;
  }
}
.skin-default:hover{
  .views_slideshow_controls_text_previous,
  .views_slideshow_controls_text_next{
    a{
      opacity: 0.7;
    }
    a:hover{
      opacity: 1;
    }
  }
}
@media only screen and (max-width: $tablet_width) {
  #block-views-slider-block{
    article{
      width: 100%;
      overflow: hidden;
      .image{
        width: 100%;
        height: auto;
      }
    }
    .views-slideshow-cycle-main-frame,
    .views-slideshow-cycle-main-frame-row,
    .views-slideshow-cycle-main-frame-row img{
      width: 100% !important;
    }
  }
}