.page-search .l-content .search-form{
  .form-type-textfield{
    label{
      display: none;
    }
    input.form-text{
      width: 568px;
      height: 34px;
      background: #FCFCFC;
      border: 1px solid #F5F5F5;
      color: #555555;
      padding: 4px 6px;
      font-family: 'PT Sans', sans-serif;
      font-size: 14px;
    }
  }
  input.form-submit{
    float: right;
    text-shadow: none;
    height: 34px;
    border: none;
    width: 62px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
  }
  .container-inline:after{
    clear: both;
    content: "";
    display: table;
  }
  .search-advanced{
    display: none;
  }
}