#block-block-5{
  .block__content{
    border: none;
    padding: 0;
    font-family: Domine;
    font-size: 0.9em;
    line-height: 150%;
    text-align: center;
    color: #4b4b4b;
    *{
      margin: 0;
    }
    *+*{
      margin-top: 10px;
    }
    a{
      color: #4b4b4b;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
  }
}