#block-block-3{
  .block__content{
    padding-top: 17px;
  }
  .block__content:before{
    border-top: 1px solid #315c99;
    display: block;
    content: "";
  }
}
#block-nelb-facebook-script{
  display: none;
}
@media only screen and (max-width: $desktop_width) {
  #block-block-3 iframe{
    width: 212px !important;
  }
}
@media only screen and (max-width: $tablet_width) {
  #block-block-3 iframe{
    width: 100% !important;
  }
}