/* No files to import found in abstractions/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/base\/_media\.scss}line{font-family:\000031}}
img, media {
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-header\.scss}line{font-family:\000031}}
.l-branding-wrapper {
  background: #122d3f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-layout\.scss}line{font-family:\000035}}
.l-main,
.l-branding,
.l-region--top-navigation,
.l-region--navigation,
.l-region--footer {
  width: 996px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\000031}}
.navigation-wrapper {
  height: 64px;
  background: url(../images/nav-bg.png) repeat-x;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\000039}}
.l-region--navigation:after {
  clear: both;
  content: "";
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000314}}
#block-system-main-menu {
  width: 909px;
  float: left;
  /* Specific Items */
  /* For Expanded SubMenus */ }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000318}}
  #block-system-main-menu ul.menu,
  #block-system-main-menu ul.menu li {
    margin: 0;
    padding: 0;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000323}}
  #block-system-main-menu > ul.menu:after {
    clear: both;
    display: table;
    content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000328}}
  #block-system-main-menu > ul.menu > li {
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000331}}
  #block-system-main-menu > ul.menu > li > a {
    padding: 19px 11px 0px 11px;
    height: 52px;
    display: block;
    text-decoration: none;
    color: #202020;
    font-size: 16px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000340}}
  #block-system-main-menu > ul.menu > li > a.active,
  #block-system-main-menu > ul.menu > li > a:hover {
    border-bottom: #122d3f solid 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000343}}
  #block-system-main-menu > ul.menu > li ul.menu {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000348}}
  #block-system-main-menu > ul.menu > li > a.portada,
  #block-system-main-menu > ul.menu > li > a.reporte {
    text-indent: -9999px;
    width: 47px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000354}}
  #block-system-main-menu > ul.menu > li > a.portada:after,
  #block-system-main-menu > ul.menu > li > a.reporte:after {
    position: absolute;
    top: 15px;
    left: 11px;
    width: 25px;
    height: 25px;
    display: block;
    background: url("../images/elements.png") no-repeat -20px -479px;
    content: ""; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000364}}
  #block-system-main-menu > ul.menu > li > a.reporte:after {
    background-position: -20px -1632px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000369}}
  #block-system-main-menu > ul.menu > li.expanded > a {
    position: relative;
    padding-right: 29px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-navigation\.scss}line{font-family:\0000373}}
  #block-system-main-menu > ul.menu > li.expanded > a:after {
    position: absolute;
    right: 12px;
    top: 26px;
    display: block;
    content: "";
    width: 9px;
    height: 6px;
    background: url("../images/elements.png") no-repeat -20px -832px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/cristian100\/Sites\/nayaritenlinea\/html\/sites\/all\/themes\/nel\/sass\/components\/_00-global-search-form\.scss}line{font-family:\000031}}
#block-search-form {
  display: none; }
