.photoswipe-gallery-1{
  margin-bottom: 14px;
}
.node--article--full .galeria{
  position: relative;
  margin: 0 -5px;
  
  .masonryImage{
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
    float: left;

    a{
      display: block;
      outline: none;
    }
    img{
      border: solid 1px #666;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.node--article--full .galeria:after{
  content: "";
  height: 0;
  display: table;
  clear: both;
}
