.short-url{
  border-top: solid 1px #b2cddf;
  border-bottom: solid 1px #b2cddf;
  padding: 10px 0;
  margin-bottom: 10px;
  .label-inline{
    display: inline-block;
    color: #555;
  }
  #block-nelb-short-url{
    display: inline-block;
    a{
      color: #1f9ee7;
      text-decoration: none;
    }
    a:hover{
      text-decoration: underline;
    }
    .contextual-links-wrapper{
      display: none !important;
    }
  }
}
.group-by{
  font-size: 12px;
  color: #cbcbcb;
  margin-bottom: 28px;
  a{
    text-decoration: none;
    line-height: 15px;
  }
  a:hover{
    text-decoration: underline;
  }
  .category,
  .author, 
  .date{
    display: inline-block;
  }
  .category ul,
  .category ul li{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .category ul li{
    display: inline-block;
    margin-right: 10px;
    a{
      display: block;
      background: #122d3f;
      padding: 2px 8px 3px 8px;
      color: white;
    }
  }
  .author{
    a{
      color: #1f9ee7;
    }
  }
  .date{
    margin-left: 5px;
    text-transform: lowercase;
  }
}
.no-slideshow .node--article--full > .gallery{
  display: none;
}
.node--article--full > .image{
  a{
    display: block;
    max-height: 450px;
    overflow: hidden;
  }
  img{
    display: block;
    width: 100%;
  }
}
.node--article--full .body{
  font-family: Domine;
  font-size: 14px;
  
  > .block-inject{
    float: left;
    margin-right: 21px;
  }
  > .clearfix{
    display: none;
  }
}
.node--article--full .body:after{
  content: "";
  display: table;
  clear: both;
}
.page-node.node-type-article .right-menu .l-content{
  padding-bottom: 20px;
}