#block-views-related-articles-block{
  margin-top: 44px;
}
#block-views-related-articles-block .block__content{
  .view-content:after{
    clear: both;
    content: "";
    display: table;
  }
  .views-row{
    width: 300px;
    float: left;
  }
  .views-row-even{
    float: right;
  }
  .views-row-odd{
    clear: left;
  }
  .node--article--related{
    margin-bottom: 31px;
    h3{
      margin: 0px;
      font-size: 21px;
      line-height: 25px;
      font-family: Fjalla One;
      color: #333333;
      font-weight: normal;
    }
  }
}

@media only screen and (min-width: $desktop_wide_ads_max2) {
  #block-views-related-articles-block .block__content{
    .views-row{
      width: $one_column_two_blocks_width;
      .image{
        margin-bottom: 11px;
        a{
          display: block;
        }
        img{
          display: block;
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: $desktop_width) {
  #block-views-related-articles-block .block__content{
    .views-row{
      width: 226px;
    }
  }
}
@media only screen and (max-width: $tablet_width) {
  #block-views-related-articles-block .block__content{
    .views-row{
      width: 100%;
      float: none;
    }
    .image{
      text-align: center;
      background: #f2f2f2;
    }
  }
}