.node--article--full .galeria{
  position: relative;
  margin: 0 -5px;
  
  .masonryImage{
    width: 320px;
    padding: 5px;
    float: left;

    a{
      display: inline-block;
    }
  }
}
.node--article--full .galeria:after{
  content: "";
  height: 0;
  display: table;
  clear: both;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .node--article--full .gallery{
    
  }
}
@media only screen and (max-width: $desktop_width) {
  .node--article--full .gallery{
    
  }
}
@media only screen and (max-width: $tablet_width) {
  .node--article--full .gallery{
  }
}