.node--streaming.view-mode-full{
  > .field-collection-container{
    padding: 0;
    border: none;
    margin: 0;
    .field-collection-view{
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}
.node-type-video.page-node,
.node-type-streaming.page-node{
  a.site-logo{
    background: url(../images/ntv1.jpg) no-repeat;
  }
  .l-branding-wrapper{
    background: #213951;
  }
}
iframe{
  max-width: 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .node-type-video.page-node,
  .node-type-streaming.page-node{
    a.site-logo{
      background: url(../images/ntv2.jpg) no-repeat;
    }
  }
  iframe{
    max-width: 100%;
  }
}