.node--streaming.view-mode-full{
  > .field-collection-container{
    padding: 0;
    border: none;
    margin: 0;
    .field-collection-view{
      margin: 0;
      padding: 0;
      border: none;
    }
  }
}
.node-type-video.page-node,
.node-type-streaming.page-node{
  a.site-logo{
    background-image: url(../images/ntv2.jpg);
    background-size: 100%;
  }
  .l-branding-wrapper{
    background-color: #213951;
  }
  .breadcrumb{
	  display: none;
  }
}
iframe{
  max-width: 100%;
}

@media only screen and (min-width: $desktop_wide_ads_max) {
  .node-type-video.page-node,
  .node-type-streaming.page-node{
    .video.streaming{
      iframe{
        width: 712px !important;
        min-height: 406px !important;
      }
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .node-type-video.page-node,
  .node-type-streaming.page-node{
    a.site-logo{
      background-image: url(../images/ntv2.jpg);
    }
  }
  iframe{
    max-width: 100%;
  }
}