.node--video.node-teaser{
  h4{
    margin: 0;
  }
}
#block-views-lo-mas-visto-block, 
#block-views-lo-mas-visto-block-1{
  margin: 30px 0;
  .block__content{
    border-top: solid #122d3f 2px;
    padding-top: 26px;
  }
}
.view-lo-mas-visto{
  .view-content{
    margin-bottom: 28px;
  }
  .view-content:after{    
    content: "";
    clear: both;
    display: table;
    height: 0;
  }
  .views-row{
    width: 191px;
    float: left;
    margin-right: 28px;
    margin-bottom: 28px;
  }
  .views-row-3, 
  .views-row-6, 
  .views-row-9, 
  .views-row-12{
    margin-right: 0;
  } 
  .views-row-4, 
  .views-row-5, 
  .views-row-6{
    margin-bottom: 0;
  }
  .views-row-1, 
  .views-row-4, 
  .views-row-7, 
  .views-row-10{
    clear: left;
  }
}